html {
    min-height: 100%;
}

body {
    overflow: hidden;
    background: url(../picture/2020.webp) center center no-repeat;
    background-color: black;
}

.snow{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.snow__layer {
    position: absolute;
    left: -100px;
    right: -100px;
    animation: wind 1s cubic-bezier(0.51, 0.01, 0.63, 0.99) infinite alternate;
    perspective: 100px;
}

.snow__layer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2000px;
    background: url(../picture/noel-minimaliste.jpg);
    animation: falllight 10s linear infinite;
    transform: translateZ(50px);
}

.snow__layer:nth-child(1){
    
}



@keyframes wind {
    to {
        transform: translateX(50px);
    }
}

@keyframes fall {
    from {
        transform: translateY(-1000px);
    }
}
@keyframes falllight {
    from {
        transform: translateY(-1000px) translateZ(50px);
    }
}